.navbar-lewagon {
  justify-content: space-between;
  background: #E0F4FF;
  padding-bottom: 60px;
  color: rgb(0, 0, 0);

  .navbar-brand {
    color: #000000;
    &:hover {
      color: lighten(#fff, 10%);
    }
  }
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: rgb(0, 0, 0);
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

  .navbar-nav .nav-item .nav-link {
    color: #000000;
    &:hover {
      background-color: #CAF4FF;
      text-decoration: none;
    }
  }
